     <h2>Principais tipos:</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "alcool.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Álcool", alcool_path(1)%></h3></center>
                                <p align="justify">É a substância psicoativa mais antiga da humanidade.
                                Consumo excessivo traz aplicações no sistema digestivo,podendo resultar
                                em varios tipos de complicações podendo afetar a capacidade intelectual,
                                memória e destrói a vida social e afetiva do dependente.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), alcool_path(1),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                          <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "cogumelo.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Alucinógenos", anfetamina_path(2)%></h3></center>
                                <p align="justify">Chamam-se alucinógenas porque provocam "alucinações",
                                que na linguagem médica significa "percepções sem objeto", isto é, a pessoa
                                que está em processo de alucinação percebe coisas sem que elas existam (ouve sons
                                imaginários, vê objetos que não existem). </p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), alucinogeno_path(2),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "anfetaminas.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Anfetaminas", anfetamina_path(3)%></h3></center>
                                <p align="justify">As anfetaminas são drogas estimulantes, isto é, fazem o cérebro trabalhar
                                mais depressa, deixando as pessoas com “menos sono”. Um exemplo de uso está entre
                                os motoristas que precisam dirigir durante várias horas seguidas sem descanso,a fim de cumprir
                                um prazo.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), anfetamina_path(3),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "antidepressivo.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Anti depressivos", antidepressivo_path(4)%></h3></center>
                                <p align="justify">É uma substância considerada eficaz na remissão de
                                sintomas característicos da síndrome depressiva em alguns pacientes com
                                transtorno depressivo. Algumas substâncias com atividade antidepressiva
                                podem ser eficazes também em transtornos psicóticos</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), antidepressivo_path(4),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "doriden.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Barbitúricos", barbiturico_path(5)%></h3></center>
                                <p align="justify">São os calmantes e sedativos, provocam alterações na
                                capacidade de raciocínio, concentração e coordenação motora.Quando
                                ingeridos em excesso, afetam as funções do sistema cardiorespiratório,
                                podendo levar até mesmo ao coma.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), barbiturico_path(5),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "cafe.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Cafeína", cafeina_path(6)%></h3></center>
                                <p align="justify">É o estimulante legal mais usado no mundo. A cafeína
                                é mais comumente associada ao café e às bebidas à base de cola que
                                contém cafeína e flavorizantes extraídos de fontes naturais. A cafeína não
                                produz uma verdadeira euforia, mas causa dependência psicológica. </p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), cafeina_path(6),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "cocaina.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Cocaína", cocaina_path(7)%></h3></center>
                                <p align="justify">É uma das drogas ilegais mais consumidas no mundo.
                                A cocaína é um psicotrópico, pois age no Sistema Nervoso Central, isto é,
                                sua atuação é no cérebro e na medula espinhal, exatamente nos órgãos
                                que comandam os pensamentos e as ações das pessoas.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), cocaina_path(7),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "inalantes.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Inalantes", anfetamina_path(8)%></h3></center>
                                <p align="justify">Produz sensação de euforia e exitação, pertubaçãoes
                                auditivas, visuais e até alucinações. A aspiração repetida do solvente pode
                                resultar na destruição de neurônios, provocando perda de reflexos,
                                dificuldade de concentração e déficit de memória.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), inalantes_path(8),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "maconha.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Cannabis Sativa", maconha_path(9)%></h3></center>
                                <p align="justify">É a droga de entrada para consumo das outras drogas.
                                Barata e de fácil acesso, o seu uso continuado interfere tanto na aprendizagem,
                                memorização quanto na fertilidade. É uma combinação de flores e folhas da
                                planta conhecida como Cannabis sativa.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), maconha_path(9),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "narcoticos.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Narcóticos", narcotico_path(10)%></h3></center>
                                <p align="justify">Refere-se a uma variedade de substâncias que fazem
                                adormecer e reduzem ou eliminam a sensibilidade, em medicina, o termo
                                designa apenas o ópio, os derivados do ópio e os seus substitutos sintéticos
                                ou semi-sintéticos, usados como anestésicos.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), narcotico_path(10),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "nicotina.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Nicotina", nicotina_path(11)%></h3></center>
                                <p align="justify">A nicotina causa dependência ao cigarro e o torna agradável.
                                É uma substância que ocorre naturalmente no tabaco.  Ao tragar a fumaça do
                                cigarro, uma grande quantidade vai para os pulmões e passa para o sangue,
                                atingindo o seu cérebro em apenas alguns segundos.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), nicotina_path(11),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img id="Thumb" src="<%=image_path "tranquilizantes.jpg"%>">
                            <div class="caption">
                                <center><h3><%= link_to "Tranquilizantes", tranquilizante_path(12)%></h3></center>
                                <p align="justify">Tranquilizantes são medicamentos utilizados em pessoas em
                                estado de tensão, insônia e ansiedade. Também conhecidos como calmantes,
                                esses medicamentos atuam produzindo uma depressão nas regiões do cérebro
                                responsáveis pela ansiedade e a tensão.</p>
                                <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Saiba mais! </i>"), tranquilizante_path(12),class: "btn btn-primary"%>
                                </a></p>
                            </div>
                        </div>
                    </div>

                    <br>
<br>
<h6>Fonte: Anti Drogas (http://www.antidrogas.com.br/oquedrogas.php)</h6>