<h2><b>Tipos de Drogas:</b></h2>
<br>
    <div class="row">
      <% @drugs.each do |drug| %>
        <div class="col-md-4">
            <div class="hoverzoom">
              <%= link_to drug do %>
                <img id="drugs-image" <%= image_tag drug.avatar.url%>
                <% end %>
                <div class="retina">
                  <p class="drugs-limited-characters" align="justify"><b><%= drug.name %></b> :<%= drug.description %></p>
                    <ul class="list-inline drugs-inline">
                    <% if current_user && current_user.level_user %>
                      <li>
                          <%= link_to "Alterar", "/drugs/#{drug.id}/edit", :class=>"btn btn-warning btn-xs"%>
                      </li>
                    <%end%>
                      <li>
                          <%= link_to "Saiba mais!", "/drugs/#{drug.id}",  :class=>"btn btn-info btn-xs"  %>
                      </li>
                    <% if current_user && current_user.level_user %>
                      <li>
                          <%= button_to "Excluir", "/drugs/#{drug.id}", :class=>"btn btn-danger btn-xs drugs-button",
                                                              :method => :delete,
                                                              data: {confirm: "Tem certeza?"}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
            </div>
        </div>
        <% end %>
    </div>