     <h2>Principais tipos:</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="hoverzoom">
                            <img id="drugs-image" src="<%=image_path "alcool.jpg"%>">
                            <div class="retina">
                                <p align="justify">É a substância psicoativa mais antiga da humanidade. Consumo excessivo traz aplicações no sistema digestivo,podendo resultar em varios tipos de complicações, afetar a capacidade intelectual, memória e destroir a vida social e afetiva do dependente.</p>
                                <a href="/alcool/1">Álcool</a>
                            </div>
                        </div>
                    </div>
                 <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "cogumelo.jpg"%>">
                        <div class="retina">
                            <p align="justify">Chamam-se alucinógenas porque provocam "alucinações", que na linguagem médica significa "percepções sem objeto", isto é, a pessoa que está em processo de alucinação percebe coisas sem que elas existam (ouve sons imaginários, vê objetos que não existem).</p>
                            <a href="/alucinogeno/2">Alucinógeno</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "anfetaminas.jpg"%>">
                        <div class="retina">
                            <p align="justify">As anfetaminas são drogas estimulantes, isto é, fazem o cérebro trabalhar mais depressa, deixando as pessoas com “menos sono”. Um exemplo de uso está entre os motoristas que precisam dirigir durante várias horas seguidas sem descanso,a fim de cumprir um prazo.</p>
                            <a href="/anfetamina/3">Anfetamina</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "antidepressivo.jpg"%>">
                        <div class="retina">
                            <p align="justify">É uma substância considerada eficaz na remissão de sintomas característicos da síndrome depressiva em alguns pacientes com transtorno depressivo. Algumas substâncias com atividade antidepressiva podem ser eficazes também em transtornos psicóticos.</p>
                            <a href="/antidepressivo/4">Antidepressivo</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "doriden.jpg"%>">
                        <div class="retina">
                            <p align="justify">São os calmantes e sedativos, provocam alterações na capacidade de raciocínio, concentração e coordenação motora.Quando ingeridos em excesso, afetam as funções do sistema cardiorespiratório, podendo levar até mesmo ao coma.</p>
                            <a href="/barbiturico/5">Barbitúrico</a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "cafe.jpg"%>">
                        <div class="retina">
                            <p align="justify">É o estimulante legal mais usado no mundo. A cafeína é mais comumente associada ao café e às bebidas à base de cola que contém cafeína e flavorizantes extraídos de fontes naturais. A cafeína não produz uma verdadeira euforia, mas causa dependência psicológica.</p>
                            <a href="/cafeina/6">Cafeína</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "cocaina.jpg"%>">
                        <div class="retina">
                            <p align="justify">É uma das drogas ilegais mais consumidas no mundo. A cocaína é um psicotrópico, pois age no Sistema Nervoso Central, isto é, sua atuação é no cérebro e na medula espinhal, exatamente nos órgãos que comandam os pensamentos e as ações das pessoas.</p>
                            <a href="/cocaina/7">Cocaina</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "inalantes.jpg"%>">
                        <div class="retina">
                            <p align="justify">Produz sensação de euforia e exitação, pertubaçãoes auditivas, visuais e até alucinações. A aspiração repetida do solvente pode resultar na destruição de neurônios, provocando perda de reflexos, dificuldade de concentração e déficit de memória.</p>
                            <a href="/inalantes/8">Inalantes</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "maconha.jpg"%>">
                        <div class="retina">
                            <p align="justify">É a droga de entrada para consumo das outras drogas. Barata e de fácil acesso, o seu uso continuado interfere tanto na aprendizagem, memorização quanto na fertilidade. É uma combinação de flores e folhas da planta conhecida como Cannabis sativa.</p>
                            <a href="/maconha/9">Maconha</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "narcoticos.jpg"%>">
                        <div class="retina">
                            <p align="justify">Refere-se a uma variedade de substâncias que fazem adormecer e reduzem ou eliminam a sensibilidade, em medicina, o termo designa apenas o ópio, os derivados do ópio e os seus substitutos sintéticos ou semi-sintéticos, usados como anestésicos.</p>
                            <a href="/narcotico/10">Narcótico</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "nicotina.jpg"%>">
                        <div class="retina">
                            <p align="justify">A nicotina causa dependência ao cigarro e o torna agradável. É uma substância que ocorre naturalmente no tabaco.  Ao tragar a fumaça do cigarro, uma grande quantidade vai para os pulmões e passa para o sangue, atingindo o seu cérebro em apenas alguns segundos.</p>
                            <a href="/nicotina/11">Nicotina</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hoverzoom">
                        <img id="drugs-image" src="<%=image_path "tranquilizantes.jpg"%>">
                        <div class="retina">
                            <p align="justify">Tranquilizantes são medicamentos utilizados em pessoas em estado de tensão, insônia e ansiedade. Também conhecidos como calmantes, esses medicamentos responsáveis pela ansiedade e a tensão.</p>
                            <a href="/tranquilizante/12">Tranquilizante</a>
                        </div>
                    </div>
                </div>
            </div>
