<div id="container_margin" class="container">
<center><h3> Quadro resumo: <%= @drug.name %> </h3></center>
<br>
<table class="table table-bordered drugs-table">
 <thead>
   <tr class="active">
     <th>
       Tipo(s):
     </th>
     <th>
       Origem:
     </th>
     <th>
       Quantidade média ingerida:
     </th>
     <th>
       Forma de ingestão:
     </th>
     <th>
       Efeitos a curto prazo:
     </th>
     <th>
       Risco de dependência psicológica:
     </th>
     <th>
       Risco de dependência física:
     </th>
     <th>
       Tolerância:
     </th>
     <th>
       Efeitos a longo prazo:
     </th>
     <th>
       Utilização médica:
     </th>
   </tr>
</thead>
<tbody>
  <tr>
    <td><%= @drug.drug_type %></td>
    <td><%= @drug.origin %></td>
    <td><%= @drug.average_ingest %></td>
    <td><%= @drug.ingestion_form %></td>
    <td><%= @drug.effect_high %></td>
    <td><%= @drug.dependence_psychological %></td>
    <td><%= @drug.dependence_phisical %></td>
    <td><%= @drug.tolerance %></td>
    <td><%= @drug.long_effects %></td>
    <td><%= @drug.medical_use %></td>
  </tr>
</tbody>
</table>
<p align="right"><a href="/drogas" class="btn btn-warning" role="button">voltar</a></p>
<h6>Fonte: Anti Drogas (http://www.antidrogas.com.br/resumo.php)</h6>
</div>


