<!DOCTYPE html>
<html>
<head>
    <div class= "conteiner">
        <div class="panel panel-default" style="margin-right: -15;">
            <div class="panel-heading">
            <center><h3> Informações da Clínica </h3></center>
                <div class="img-responsive aspect data_background" ></div>
                    <table class="table table-hover", border="1">
                        <thead>
                        <tr class= "info">
                            <th colspan="2"><strong>CLINICA: <%= @clinic.nome %></strong></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class= "info">
                                <td>Estado</td>
                                <td><%= @clinic.estado %></td>
                            </tr>
                            <tr class= "info">
                                <td>Modalidade</td>
                                <td><%= @clinic.modalidade %></td>
                            </tr>
                            <tr class= "info">
                                <td>Endereco</td>
                                <td>
                                    <%= @clinic.nome_logradouro %>
                                    <%= @clinic.numero_logradouro %>
                                    <%= @clinic.complemento %>
                                </td>
                            </tr class= "info">
                            <tr class= "info">
                                <td>Municipio</td>
                                <td><%= @clinic.municipio %></td>
                            </tr>
                            <tr class= "info">
                                <td>Cep</td>
                                <td><%= @clinic.cep %></td>
                            </tr>
                            <tr class= "info">
                                <td>Latitude</td>
                                <td id="clinic_latitude"><%= @clinic.latitude %></td>
                            </tr>
                            <tr class= "info">
                                <td>Longitude</td>
                                <td id="clinic_longitude"><%= @clinic.longitude %></td>
                            </tr>
                            <tr class= "info">
                                <td>Telefone1</td>
                                <td><%= @clinic.telefone_1 %></td>
                            </tr>
                            <tr class= "info">
                                <td>Telefone2</td>
                                <td><%= @clinic.telefone_2 %></td>
                            </tr>
                            <tr class= "info">
                                <td>Email</td>
                                <td><%= @clinic.e_mail %></td>
                            </tr>
                            <tr class= "info">
                                <td>Modalidade</td>
                                <td><%= @clinic.modalidade %></td>
                            </tr>
                            <tr class= "info">
                                <td>Público Atendido</td>
                                <td><%= @clinic.publico_atendido %></td>
                            </tr>
                            <tr class= "info">
                                <td>Grupo Específico</td>
                                <td><%= @clinic.qual_grupo_especifico %>
                            </tr>
                            <tr class= "info">
                                <td>Sexo do Público</td>
                                <td><%= @clinic.sexo_do_publico %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
</div>
</div>
</head>
<body>
<div id="googleMap" style="width:1100px;height:600px;"></div>
<p align="right"><a href="/clinics" class="btn btn-warning" role="button">voltar</a></p>
</body>
</html>
