<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Editar questão nº <%= @question.id %></h1>
		<br>
		<p>Tenha em mente que respostas verdadeiras devem indicar o possível uso de drogas pelo usuário que responder o questionário.</p>
	</div>
	<div class="panel-body">
		<%= form_for(@question) do |q| %>
			<div>
			<%= q.label :Questão %><br>
			<%= q.text_field :content %>
			</div>
			<br>
			<div>
			<button type="submit">Enviar</button>
			<%=link_to "Cancelar", question_path(@question), :class => "btn btn-default"%>
			</div>
		<% end %>
	</div>
</div>
