<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Quiz </h1>
	</div>
	<div class="panel-body">
		<h4>Responda as perguntas a seguir. Elas ajudam a identificar um possível usuário de drogas.</h4><br>
		<%= @question.each do |question| %>
		<%= bootstrap_form_for (question) do |t| %>
			<%= t.form_group :answer, labe: { text: "resposta" } do %>
				<%= t.radio_button :answer, true, label: "SIM", checked: true %>
				<%= t.radio_button :answer, false, label: "NÃO" %>
			
		<%= t.submit "Enviar" %>
		<% end %>
		<% end %>
		<% end %>
		<a class="btn btn-default" href="#">Cancelar</a>
	</div>
</div>