<div id="user_nav">
  <div class="conteiner">
    <div class="row vertical-offset-100">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if current_user %>
            <center>
            <% if flash[:notice] %>
              <div class="notice"><%= flash[:notice] %></div>
            <% end %>
            <h2>Olá <%= current_user.name %> </h2>
              Você está logado em uma conta de administrador <%= current_user.email %>, abaixo ficam os usuários pendentes de aprovação e associação com as clínicas, junto aos depoimentos pendentes, clique nas abas abaixo para visualizar. Caso queira alterar as informações da sua conta ou deslogar, clique no botão de usuário no topo da página.<br />
            </center>
            <div class="area-total-abas">
              <div class="lista-abas amimacao-flip">>
                <input type="radio" name="lista-abas" checked id="aba-2" class="aba-2">
                <label for="aba-2"><span><span>Depoimentos Pendentes</span></span></label>
                <input type="radio" name="lista-abas" checked id="aba-1" class="aba-1">
                <label for="aba-1"><span><span>Usuários Pendentes</span></span></label>
                <ul>
                  <li class="aba-1">
                    <div class="conteudo">
                      <table width="300px">
                          <tr>
                            <td>Usuários:</td>
                            <% @users.each do |user| %>
                              <% unless user.user_authenticate %>
                                <tr>
                                  <td><%= link_to user.email, users_approval_path(:user_id => user.id, :user_email => user.email) %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tr>
                      </table>
                    </div>
                  </li>
                  <li class="aba-2">
                    <div class="conteudo">
                      <table width="300px">
                           <tr>
                            <td>Depoimentos:</td>
                            <% @testimonials.each do |testimonial| %>
                              <% unless testimonial.testimonial_authenticate %>
                                <tr>
                                  <td><%= link_to testimonial.title, testimonial_approval_path(:testimonial_id => testimonial.id ) %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tr>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>