
<!DOCTYPE html>
<html>
<head>
	<title>Meu Perfil</title>
</head>

<body>
	<h1 align="center">Meu Perfil</h1>
	<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<table align="center">
		<tr>
			<td width="200"><%=link_to "Editar", users_profile_edit_path%></td>
			<td width="200"><%= link_to "Voltar", users_path%></td>
			<td><%= link_to "Log out", logout_path%></td>
		</tr>
	</table>

	<table width="300px">
		<tr>
			<td>Nome:</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= @user.email %></td>		
		</tr>
		<tr>
			<td>Clínica:</td>
			<td><%= @user.clinica.nome %></td>
		</tr>
		<tr>
			<th>Endereco</th>
		    <td><%= clinic.nome_logradouro %></td>
		</tr>
	    <tr>
	    	<th>Municipio</th>
	    	<td><%= clinic.municipio %></td>
	    </tr>
	    <tr>
	    	<th>Cep</th>
	    	<td><%= clinic.cep %></td>
	    </tr>
	    <tr>
	    	<th>Latitude</th>
	    	<td><%= clinic.latitude %></td>
	    </tr>
	    <tr>
	    	<th>Longitude</th>
	    	<td><%= clinic.longitude %></td>
	    </tr>
	    <tr>
	    	<th>Telefone1</th>
	    	<td><%= clinic.telefone_1 %></td>
	    </tr>
	    <tr>
	    	<th>Telefone2</th>
	    	<td><%= clinic.telefone_2 %></td>
	    </tr>
	    <tr>
	    	<th>Email</th>
	    	<td><%= clinic.e_mail %></td>
	    </tr>
	    <tr>
	    	<th>Modalidade</th>	
	    	<td><%= clinic.modalidade %></td>
	    </tr>
	</table>
</body>
</html>