<div>
	<h1 align="center">Editar Clínica</h1>
</div>	
<div class="area-total-abas">
	<div class="lista-abas amimacao-flip">
		<input type="radio" name="lista-abas" checked id="aba-1" class="aba-1">
		<label for="aba-1"><span><span>Informações da Clínica</span></span></label>
		<ul>
			<li class="aba-1">
				<div class="conteudo">
					<%= bootstrap_form_for(@user.clinic) do |f| %>
						<%= f.text_field :nome, label: "Nome" %>
						<%= f.text_field :nome_logradouro, label:"Endereço" %>
						<%= f.text_field :cep, label: "Cep" %>
						<%= f.text_field :latitude, label: "Latitude" %>
						<%= f.text_field :longitude, label: "Longitude" %>
						<%= f.text_field :telefone_1, label: "Telefone 1" %>
						<%= f.text_field :telefone_2, label: "telefone_2" %>
						<%= f.email_field :e_mail, label:"E-Mail" %>
						<%= f.text_field :modalidade, label: "Modalidade" %>
						</br>
						<%= f.submit "Enviar" %>
	  				  	<%= link_to "Cancelar", :back, {:class=>"btn btn-default"} %>
					<% end %>
				</div>
			</li>
		</ul>
	</div>
</div>