<div id="container_margin" class="container">
 <div class="container">
  <div id="user_nav">
   <div class="row vertical-offset-100">
    <div class="panel-body">
     <div class="panel panel-default margin-table " style="margin-bottom: -15px;	">
	  <div class="panel-heading">
		<center><h3>Editar informações da Clínica</h3></center>
		<div class="conteudo">
			<%= bootstrap_form_for(@user.clinic) do |f| %>
				<%= f.text_field :nome, id:"nome", label: "Nome" %>
				<%= f.text_field :nome_logradouro,id:"nome_logradouro", label:"Endereço" %>
				<%= f.text_field :cep, id:"cep", label: "Cep" %>
				<%= f.text_field :latitude, id:"latitude", label: "Latitude" %>
				<%= f.text_field :longitude, id:"longitude", label: "Longitude" %>
				<%= f.text_field :telefone_1, id:"telefone_1", label: "Telefone 1" %>
				<%= f.text_field :telefone_2, id:"telefone_2", label: "Telefone 2" %>
				<%= f.email_field :e_mail, id:"email_field",label:"E-Mail" %>
				<%= f.text_field :modalidade,id:"modalidade", label: "Modalidade" %>
				</br>
				<%= f.submit "Enviar", :class=> "btn btn-info" %>
				  	<%= link_to "Cancelar", :back, {:class=>"btn btn-warning"} %>
			<% end %>
		</div>
	  </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
