<div id="container_margin" class="container">
 <div class="container">
  <div id="user_nav">
   <div class="row vertical-offset-100">
    <div class="panel-body">
     <div class="panel panel-default margin-table " style="margin-bottom: -15px;	">
	  <div class="panel-heading">
	   <center><h3>Editar informações da Clínica</h3></center>
		<div class="conteudo">
			<%= bootstrap_form_for(@user) do |f| %>
				<%= f.text_field :name, label: "Nome" %>
				<%= f.email_field :email, label:"E-Mail" %>
				<%= f.password_field :password, label: "Nova Senha" %>
				<%= f.password_field :password_confirmation, label: "Confirmação de Senha" %>
				</br>
				<%= f.submit "Enviar", :class=> "btn btn-info" %>
				  	<%= link_to "Cancelar", :back, {:class=>"btn btn-warning"} %>
			<% end %>
		</div>
	   </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
