<!DOCTYPE HTML>
<html>
<head>
	<body>
		<div id="user_nav">
		  <div class="conteiner">
		  	<div class="row vertical-offset-100">
		  		<div class="panel panel-default">
		        <div class="panel-body">
					  <% if current_user %>
					  	<h2>Olá <%= current_user.name %> </h2>
					    
					    Você está logado com o email <%= current_user.email %>, caso queira ver/ou atualizar informações da sua conta clica em Perfil.<br />
					    </p><a href="<%= users_profile_path %>" class="btn btn-primary" id="sign_in_button" role="button">Perfil</a></p>
					    </p><a href="<%= logout_path %>" class="btn btn-danger" id="sign_in_button" role="button">Logout</a></p>
					  <% else %>
					  	<h2>Bem vindo a página de login/cadastro do SCT</h2>
					    
					    Para efetuar o login no site clica em Login, se você ainda não possui uma conta registrada nesse site, basta criar uma conta no botão Cadastrar.<br />
					    </p><a href="<%= login_path %>" class="btn btn-danger" id="sign_in_button" role="button">Login</a></p>
					    </p><a href="<%= signup_path %>" class="btn btn-primary" id="sign_in_button" role="button">Cadastrar</a></p>
					  <% end %>
					</div>
				</div>
			</div>
		  </div>
		</div>

		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
	</body>
</head>
</html>