<div id="container_margin" class="container">
 <div class="container">
  <div id="user_nav">
   <div class="row vertical-offset-100">
    <div class="panel-body">
     <div class="panel panel-default margin-table " style="margin-bottom: -15px;	">
	  <div class="panel-heading">
		<center><h3>Informações Pessoais</h3></center>
		<div class="conteudo">
			<table width="300px">
				<tr>
					<th>Nome:</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th>Email:</th>
					<td><%= @user.email %></td>
				</tr>
		</table>
		</div>	
	    </br>
	    <% flash.each do |name, msg| %>
	    <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    <% end %>
	    </br>
	    <a href="<%= users_profile_edit_path %>" class="btn btn-info" role="button">Editar Informações</a>
	    <a href="<%= users_path %>" class="btn btn-warning" role="button">Voltar</a>
	  </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>