</style>
</head>
<body>
<div>
	<h1 align="center">Meu Perfil</h1>
</div>
<div>
	<table align="center">
		<tr>
			<td width="200"><%=link_to "Editar Informações", users_profile_edit_path%></td>
			<td width="200"><%= link_to "Voltar", users_path%></td>
			<td><%= link_to "Log out", logout_path%></td>
		</tr>
	</table>
	</br>
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	</br>
</div>	
<div class="area-total-abas">
	<div class="lista-abas amimacao-flip">
		<input type="radio" name="lista-abas" checked id="aba-1" class="aba-1">
		<label for="aba-1"><span><span>Informações Pessoais</span></span></label>
		<ul>
			<li class="aba-1">
				<div class="conteudo">
					<table width="300px">
						<tr>
							<th>Nome:</th>
							<td><%= @user.name %></td>
						</tr>
						<tr>
							<th>Email:</th>
							<td><%= @user.email %></td>		
						</tr>
				</table>
				</div>
			</li>
		</ul>
	</div>
</div>