<div>
  <a href="<%= admin_path %>" class="btn btn-warning" role="button">Voltar</a>
</div>
<div class="area-total-abas">
  <div class="lista-abas amimacao-flip">
    <input type="radio" name="lista-abas" checked id="aba-1" class="aba-1">
    <label for="aba-1"><span><span>Informações do Usuário</span></span></label>
    <ul>
      <li class="aba-1">
        <div class="conteudo">
          <table width="300px">
            <h3> Usuário </h3>
            <tr>
              <th>Nome:</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>Email:</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th>Pedido de Associação:</th>
              <td><%= @user.solicit_association %></td>
            </tr>
            </table>
            </br>
        </div>
      </li>
      <a href="user_admin_applying_confirm?id=<%=@user.id%>" class="btn btn-success" role="button">Atribuir level de Administrador</a>
      <a href="user_admin_applying_decline?id=<%=@user.id%>" class="btn btn-danger" role="button">Retirar level de Administrador</a>
    </ul>
  </div>
  </br>
</div>