<h1>Nova Campanha</h1>
<%= bootstrap_form_for @campaign, :url => campaigns_path, :html => { :multipart => true } do |t| %>
	<%= t.text_field :name, label: "Nome", required: true %>
	<%= t.text_field :url, label: "URL", required: true %>
	<%= t.text_area :description, label: "Descrição", size: "30x10", required: true %>
	<%= t.file_field :avatar %>
	<%= t.submit "Enviar" %>
	<%= link_to "Cancelar", :back, {:class=>"btn btn-default"} %>
	
<% end %>
