<html>
	<body>
		<center>
			<h1><%= @campaign.name %></h1>
			<p><%= @campaign.description %></p>
            <td align='center' style='width:50%'><a href="<%= @campaign.url %>" target="_blank">
            <%= image_tag @campaign.avatar.url(:medium) %></a></td><br>
			<%= link_to "Prosseguir", campaigns_path, {:class=>"btn btn-default"} %> 
			<%= button_to "Deletar", (@campaign), :method => :delete %>
			<%= button_to "Deletar", (@campaign), :method => :delete %>
		</center>
	</body>
</html>


