<div id="container_margin" class="container">
	<table border="1", style="width:100%">
        <tr>
          <td>
           <strong><h3><%= @campaign.name %></h3></strong>
          </td>
          <td align='center' style='width:30%'><a href="<%= @campaign.url %>" target="_blank">
            <%= image_tag @campaign.avatar.url(:medium) %></a></td><br>
          <td><%= @campaign.description %></td>
        </tr>
    </table><br>
    <%= link_to "Prosseguir", campaigns_path, {:class=>"btn btn-primary"} %>
</div>






