<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div>
	<h1>Depoimentos</h1>
</div>
<div>
	<p>Incentive os outros a buscarem tratamento, relate sua experiência de superação. Deixe um depoimento clicando <%= link_to 'aqui.', depoimentos_novo_path %></p>
</div>
<% @testimonial.each do |t| %>
	<div>
		<h2><%= t.title %></h2>
		Enviado em: <%=t.created_at%>
	</div>
	<br>
	<div>
		<%= t.body %>
	</div>
	<%= link_to 'Editar', {:action => "edit", :id => t.id} %>
	<br>
	<br>
	<% end %>
	